.barreRecherche{
    background-color: darken($color-back,8%);
    form{
        margin: auto;
        display: flex;
        box-shadow: inset 0 1px 5px darken($color-back,20%);

        height: 50px;
        @include md{
            height: 80px;
        }
        .recherche{
            margin: 0 20% 0 25%;
        }
        label{
            margin: auto 5% auto 30%;
            width: auto;
            text-align: center;    
            font-size: 1rem;
            @include md{
                font-size: 2.2rem;
            }
            @include xl{
                margin: auto 5% auto 35%;
            }
        }
        input{
            border: none;
            font-weight: bold;
            color: lighten($color-font-txt,30%);
            width: 90%;
            font-size: 1rem;
            background-color: darken($color-back,8%);
            margin: 15px 0 0px 0;
            @include md{
                font-size: 2.2rem;
            }
        }
    }
}
