footer{
    .wrapper{
    background-color: $color-footer;
    color: $color-font-foot;
    }
    h3{
    font-family: 'Shrikhand';
    padding: 40px 5% 20px 5%;
    margin: 0;
    @include md{
        font-size: 1.8rem;
        margin-left: 2%;
    }
    }
    ul{
        padding-bottom: 30px;
        @include md{
            display: flex;
            justify-content: space-around;
        }
    }
    li{
        padding: 8px 5%;
        @include md{
            font-size: 1.2rem;
            padding: 10px 1%;
            width: max-content;
        }
    }
    a{
        color: $color-font-foot;
        display: flex;
        i{
            font-size: 0.8rem;
            margin-right: 3%;
            @include md{
                font-size: 1rem;
                margin: 0;
            }
            @include xl{
                font-size: 1.3rem;
                margin-right: 8px;
            }
        }
        p{                  
        @include md{
                font-size: 1.3rem;
                margin-left: 8px;
            }
        }
        &:visited{
            color: $color-font-foot;
        }
    }
}