header{
    background-color: $color-back;
    & .headerMenu{
        display: flex;
    }
    .retourMenu{
        width: max-content;
        font-size: 1.5rem;
        padding: 26px 6%;
    }
    .logo{
        margin: 0 0 0 10%;
        font-size: 2.4rem;
        font-family: 'Shrikhand';
        width: 50%;
        padding: 20px 0;         
    }
}