/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: 'robotothin';
  src: url("../../../public/Fonts/roboto_thin_macroman/Roboto-Thin-webfont.eot");
  src: url("../../../public/Fonts/roboto_thin_macroman/Roboto-Thin-webfont.eot?#iefix") format("embedded-opentype"), url("../../../public/Fonts/roboto_thin_macroman/Roboto-Thin-webfont.woff2") format("woff2"), url("../../../public/Fonts/roboto_thin_macroman/Roboto-Thin-webfont.woff") format("woff"), url("../../../public/Fonts/roboto_thin_macroman/Roboto-Thin-webfont.ttf") format("truetype"), url("../../../public/Fonts/roboto_thin_macroman/Roboto-Thin-webfont.svg#robotothin") format("svg");
  font-weight: normal;
  font-style: normal;
  font-family: 'Shrikhand';
  src: url("../../../public/Fonts/Shrikhand-Regular.otf");
}

body {
  margin: 0;
  padding: 0;
  width: auto;
  color: #000;
  font-family: 'robotothin', Arial, sans-serif;
  font-size: 1rem;
}

.wrapper {
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
  background-color: #f2f2f2;
}

a {
  text-decoration: none;
  color: #000;
}

form {
  width: 100%;
  height: 60px;
  background-color: #d9d9d9;
  margin: auto;
  -webkit-box-shadow: 0 0 5px #bdbdbd;
          box-shadow: 0 0 5px #bdbdbd;
}

form label {
  margin-left: 25%;
  font-size: 1.2rem;
}

form input {
  border: none;
  width: 60%;
  font-size: 1.2rem;
  font-weight: bold;
  background-color: #d9d9d9;
  padding: 19px 0;
  margin-left: 5%;
}

.btn {
  border-style: none;
  border-radius: 50px;
  -webkit-box-shadow: 5px 5px 10px #b3b3b3;
          box-shadow: 5px 5px 10px #b3b3b3;
  width: 50%;
  background: linear-gradient(170deg, #FF79DA, #9356DC);
  color: #fff;
  font-weight: bold;
  height: 50px;
  margin: 30px 25%;
}

.btn__explo:hover {
  -webkit-transition: .5s;
  transition: .5s;
  background: linear-gradient(170deg, #ff93e1, #a16be0);
  -webkit-box-shadow: 2px 2px 10px #333333;
          box-shadow: 2px 2px 10px #333333;
}

.btn__nav {
  height: 70px;
  width: 100%;
  background: #fff;
  -webkit-box-shadow: 5px 5px 10px #e6e6e6;
          box-shadow: 5px 5px 10px #e6e6e6;
  color: #000;
  font-size: 1.1rem;
  border-radius: 20px;
  margin: 20px auto 0 auto;
  text-align: left;
  padding: 10px 0;
}

.btn__nav:hover {
  -webkit-transition: .5s;
  transition: .5s;
  background-color: #ece1f9;
  -webkit-box-shadow: 5px 5px 10px #b3b3b3;
          box-shadow: 5px 5px 10px #b3b3b3;
}

.btn__nav:hover i {
  color: #9356DC;
}

.btn__nav i {
  margin: 0 10%;
  color: gray;
}

.btn_chiffre {
  position: absolute;
  left: 3%;
  background-color: #9356DC;
  color: white;
  font-size: 1rem;
  border-radius: 25px;
  padding: 5px 9px;
}

.btn_chiffre--1 {
  top: 95px;
}

.btn_chiffre--2 {
  top: 185px;
}

.btn_chiffre--3 {
  top: 275px;
}

header {
  background-color: #fff;
}

header .headerMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .retourMenu {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-size: 1.5rem;
  padding: 20px 6%;
}

header .logo {
  margin: 0 0 0 10%;
  font-size: 2.4rem;
  font-family: 'Shrikhand';
  width: 50%;
  padding: 20px 0;
}

.fonction {
  position: relative;
  padding: 30px 5%;
  background-color: #fff;
}

.fonction p {
  font-size: 1.6rem;
  font-weight: bold;
}

footer .wrapper {
  background-color: #353535;
  color: #fff;
}

footer h2 {
  font-size: 1.2rem;
  font-family: 'Shrikhand';
  margin: 0 8% 20px 8%;
  padding-top: 20px;
}

footer li {
  padding: 10px 8%;
}

footer a {
  color: #fff;
}

footer a i {
  font-size: 0.8rem;
  margin-right: 3%;
}

footer a:visited {
  color: #fff;
}

.loadingSpinner {
  padding: 0%;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 2;
  background-color: #99E2D0;
  margin: auto;
  line-height: 500px;
  -webkit-animation: disparition 1 1s linear 3s forwards;
          animation: disparition 1 1s linear 3s forwards;
}

.loadingSpinner .couvertAssiette {
  margin: auto;
  text-align: center;
}

.loadingSpinner .couvert {
  height: 60px;
}

.loadingSpinner .loader-quart {
  width: 50px;
  height: 50px;
  display: inline-block;
  border-radius: 50px;
  border: 6px solid #9256dc6e;
  position: relative;
}

.loadingSpinner .loader-quart::after {
  content: "";
  position: absolute;
  top: -6px;
  left: -6px;
  right: -6px;
  bottom: -6px;
  border-radius: 50px;
  border: 6px solid transparent;
  border-top-color: #9356DC;
  border-bottom-color: #9356DC;
  -webkit-animation: spin .5s infinite ease;
          animation: spin .5s infinite ease;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes disparition {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}

@keyframes disparition {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}

header .logo__accueil {
  margin: auto;
}

.text_acc1 {
  margin: 40px 15% 20px 15%;
  font-size: 1.6rem;
  font-weight: bold;
  text-align: center;
}

.com_search {
  margin: 0 10%;
  text-align: center;
  color: gray;
}

section {
  margin: 50px auto 0 auto;
  padding: 4%;
}

section h1 {
  font-size: 1.6rem;
  font-weight: bold;
  margin-bottom: 25px;
}

.index_carte1 {
  width: auto;
  height: 250px;
  position: relative;
  margin-bottom: 20px;
  background-color: #fff;
  border-radius: 25px;
  -webkit-box-shadow: 5px 5px 10px #e6e6e6;
          box-shadow: 5px 5px 10px #e6e6e6;
}

.index_carte1 img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  width: 100%;
  height: 170px;
  border-radius: 25px 25px 0 0;
  margin: 0 auto;
}

.index_carte1 h5 {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 10px;
}

.index_carte1 .lieu {
  margin: 0 10px;
}

.index_carte1 .like {
  position: absolute;
  top: 200px;
  left: -10000%;
}

.index_carte1 #like1:checked + .heart__Empty {
  z-index: 0;
}

.index_carte1 #like1:checked + .heart__Empty + .heart__Full {
  -webkit-animation: likeAnime 2s;
          animation: likeAnime 2s;
}

.index_carte1 #like2:checked + .heart__Empty {
  z-index: 0;
}

.index_carte1 #like2:checked + .heart__Empty + .heart__Full {
  -webkit-animation: likeAnime 2s;
          animation: likeAnime 2s;
}

.index_carte1 #like3:checked + .heart__Empty {
  z-index: 0;
}

.index_carte1 #like3:checked + .heart__Empty + .heart__Full {
  -webkit-animation: likeAnime 2s;
          animation: likeAnime 2s;
}

.index_carte1 #like4:checked + .heart__Empty {
  z-index: 0;
}

.index_carte1 #like4:checked + .heart__Empty + .heart__Full {
  -webkit-animation: likeAnime 2s;
          animation: likeAnime 2s;
}

.index_carte1 .heart {
  cursor: pointer;
  font-size: 1.4rem;
  position: absolute;
  left: 85%;
  top: 200px;
}

.index_carte1 .heart__Full {
  color: #9356DC;
}

.index_carte1 .heart__Empty {
  color: #7E7E7E;
  background-color: #fff;
  z-index: 1;
}

.index_carte1 .heart__Empty:hover {
  opacity: 0.3;
}

.index_carte1 .new {
  background-color: #99E2D0;
  color: #278870;
  font-weight: bold;
  padding: 3%;
  position: absolute;
  top: 20px;
  left: 70%;
  -webkit-animation: newResto 3s infinite;
          animation: newResto 3s infinite;
}

@-webkit-keyframes likeAnime {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  25% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  75% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes likeAnime {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  25% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  75% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes newResto {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  10% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
  20% {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
  30% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
  40% {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes newResto {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  10% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
  20% {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
  30% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
  40% {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

.photoResto {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  width: 100%;
}

.carteResto {
  position: relative;
  padding: 0 3% 20px 3%;
  border-radius: 25px 25px 0 0;
}

.carteResto .titreResto {
  font-family: 'Shrikhand';
  font-size: 1.4rem;
  padding: 20px 0;
}

.carteResto .like {
  display: none;
}

.carteResto #like1:checked + .heart__Empty {
  z-index: 0;
}

.carteResto #like1:checked + .heart__Empty + .heart__Full {
  -webkit-animation: likeAnime 2s;
          animation: likeAnime 2s;
}

.carteResto .heart {
  cursor: pointer;
  font-size: 1.4rem;
  position: absolute;
  left: 85%;
  top: 18px;
}

.carteResto .heart__Full {
  color: #9356DC;
}

.carteResto .heart__Empty {
  color: #7E7E7E;
  background-color: #f2f2f2;
  z-index: 1;
}

.carteResto .heart__Empty:hover {
  opacity: 0.3;
}

.menuResto {
  color: #7E7E7E;
}

.menuResto__titre {
  border-bottom: 3px solid #f2f2f2;
  margin-bottom: 20px;
  margin: 40px 0 10px 0;
  text-transform: uppercase;
}

.menuResto__titre::after {
  content: "";
  display: block;
  border-bottom: 3px solid #99E2D0;
  width: 12%;
  position: relative;
  bottom: -2px;
}

.menuResto__plat {
  z-index: 1;
  position: relative;
  height: 55px;
  margin-bottom: 10px;
  background: #fff;
  padding: 10px 3%;
  border-radius: 15px;
  -webkit-box-shadow: 5px 5px 10px #e6e6e6;
          box-shadow: 5px 5px 10px #e6e6e6;
}

.menuResto .plat__nom, .menuResto .plat__prix {
  font-weight: bold;
  color: #000;
}

.menuResto .plat__nom, .menuResto .plat__info {
  padding: 5px 0;
  overflow: hidden;
  text-overflow: ellipsis;
}

.menuResto .plat__prix {
  float: right;
  padding-top: 8px;
}

.menuResto .valid__plat {
  background: #99E2D0;
}

.menuResto .fondVert {
  position: absolute;
  z-index: 0;
  height: 74px;
  width: 94%;
  margin: 0 3%;
  border-radius: 15px;
  overflow: hidden;
  background: #99E2D0;
  left: 0;
}

.menuResto .fondVert i {
  position: absolute;
  font-size: 1.5rem;
  left: 87%;
  top: 25px;
  color: #fff;
}

.menuResto .fondVert--1 {
  top: 135px;
}

.menuResto .fondVert--2 {
  top: 220px;
}

.menuResto .fondVert--3 {
  top: 305px;
}

.menuResto .fondVert--4 {
  top: 452px;
}

.menuResto .fondVert--5 {
  top: 537px;
}

.menuResto .fondVert--6 {
  top: 622px;
}

.menuResto .fondVert--7 {
  top: 769px;
}

.menuResto .fondVert--8 {
  top: 854px;
}

.menuResto .fondVert--9 {
  top: 939px;
}

.menuResto #entreeSelectionne1:checked + .marginCheck .menuResto__plat, .menuResto #entreeSelectionne1:checked + .marginCheck:hover + .marginCheck, .menuResto #entreeSelectionne2:checked + .marginCheck .menuResto__plat, .menuResto #entreeSelectionne2:checked + .marginCheck:hover + .marginCheck, .menuResto #entreeSelectionne3:checked + .marginCheck .menuResto__plat, .menuResto #entreeSelectionne3:checked + .marginCheck:hover + .marginCheck, .menuResto #platSelectionne1:checked + .marginCheck .menuResto__plat, .menuResto #platSelectionne1:checked + .marginCheck:hover + .marginCheck,
.menuResto #platSelectionne2:checked + .marginCheck .menuResto__plat,
.menuResto #platSelectionne2:checked + .marginCheck:hover + .marginCheck, .menuResto #platSelectionne3:checked + .marginCheck .menuResto__plat, .menuResto #platSelectionne3:checked + .marginCheck:hover + .marginCheck, .menuResto #dessertSelectionne1:checked + .marginCheck .menuResto__plat, .menuResto #dessertSelectionne1:checked + .marginCheck:hover + .marginCheck, .menuResto #dessertSelectionne2:checked + .marginCheck .menuResto__plat, .menuResto #dessertSelectionne2:checked + .marginCheck:hover + .marginCheck, .menuResto #dessertSelectionne3:checked + .marginCheck .menuResto__plat, .menuResto #dessertSelectionne3:checked + .marginCheck:hover + .marginCheck {
  -webkit-animation: prixAnim 1 linear .3s forwards;
          animation: prixAnim 1 linear .3s forwards;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.menuResto #entreeSelectionne1:checked + .marginCheck .fondVert i, .menuResto #entreeSelectionne2:checked + .marginCheck .fondVert i, .menuResto #entreeSelectionne3:checked + .marginCheck .fondVert i, .menuResto #platSelectionne1:checked + .marginCheck .fondVert i,
.menuResto #platSelectionne2:checked + .marginCheck .fondVert i, .menuResto #platSelectionne3:checked + .marginCheck .fondVert i, .menuResto #dessertSelectionne1:checked + .marginCheck .fondVert i, .menuResto #dessertSelectionne2:checked + .marginCheck .fondVert i, .menuResto #dessertSelectionne3:checked + .marginCheck .fondVert i {
  -webkit-animation: deplaceCheck 1 linear .3s forwards;
          animation: deplaceCheck 1 linear .3s forwards;
}

@-webkit-keyframes prixAnim {
  0% {
    margin-right: 0;
    border-radius: 15px;
  }
  100% {
    margin-right: 20%;
    border-radius: 15px 0 0 15px;
  }
}

@keyframes prixAnim {
  0% {
    margin-right: 0;
    border-radius: 15px;
  }
  100% {
    margin-right: 20%;
    border-radius: 15px 0 0 15px;
  }
}

@-webkit-keyframes deplaceCheck {
  0% {
    left: 100%;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    left: 87%;
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes deplaceCheck {
  0% {
    left: 100%;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    left: 87%;
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
/*# sourceMappingURL=style.css.map */