@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes disparition {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}

@keyframes disparition {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}

@-webkit-keyframes likeAnime {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  25% {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  75% {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
  100% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

@keyframes likeAnime {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  25% {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  75% {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
  100% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

@-webkit-keyframes newResto {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  10% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
  20% {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
  30% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
  40% {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes newResto {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  10% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
  20% {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
  30% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
  40% {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@-webkit-keyframes prixAnim {
  0% {
    width: 94%;
    border-radius: 15px;
  }
  100% {
    width: 75%;
    border-radius: 15px 0 0 15px;
  }
}

@keyframes prixAnim {
  0% {
    width: 94%;
    border-radius: 15px;
  }
  100% {
    width: 75%;
    border-radius: 15px 0 0 15px;
  }
}

@-webkit-keyframes prixAnim-md {
  0% {
    width: 94%;
    border-radius: 15px;
  }
  100% {
    width: 80%;
    border-radius: 15px 0 0 15px;
  }
}

@keyframes prixAnim-md {
  0% {
    width: 94%;
    border-radius: 15px;
  }
  100% {
    width: 80%;
    border-radius: 15px 0 0 15px;
  }
}

@-webkit-keyframes prixAnim-xl {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  25% {
    -webkit-transform: scale(2);
            transform: scale(2);
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  75% {
    -webkit-transform: scale(2);
            transform: scale(2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

@keyframes prixAnim-xl {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  25% {
    -webkit-transform: scale(2);
            transform: scale(2);
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  75% {
    -webkit-transform: scale(2);
            transform: scale(2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

@-webkit-keyframes deplaceCheck {
  0% {
    left: 100%;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    left: 87%;
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes deplaceCheck {
  0% {
    left: 100%;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    left: 87%;
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes deplaceCheck-md {
  0% {
    left: 100%;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    left: 89%;
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes deplaceCheck-md {
  0% {
    left: 100%;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    left: 89%;
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes ouverture_1 {
  0% {
    -webkit-transform: translatey(-60px);
            transform: translatey(-60px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes ouverture_1 {
  0% {
    -webkit-transform: translatey(-60px);
            transform: translatey(-60px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes ouverture_2 {
  0% {
    -webkit-transform: translatey(-140px);
            transform: translatey(-140px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes ouverture_2 {
  0% {
    -webkit-transform: translatey(-140px);
            transform: translatey(-140px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes ouverture_3 {
  0% {
    -webkit-transform: translatey(-240px);
            transform: translatey(-240px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes ouverture_3 {
  0% {
    -webkit-transform: translatey(-240px);
            transform: translatey(-240px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes ouverture_3_2 {
  0% {
    -webkit-transform: translatey(-340px);
            transform: translatey(-340px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes ouverture_3_2 {
  0% {
    -webkit-transform: translatey(-340px);
            transform: translatey(-340px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes ouverture_4 {
  0% {
    -webkit-transform: translatey(-380px);
            transform: translatey(-380px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes ouverture_4 {
  0% {
    -webkit-transform: translatey(-380px);
            transform: translatey(-380px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes ouverture_5 {
  0% {
    -webkit-transform: translatey(-480px);
            transform: translatey(-480px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes ouverture_5 {
  0% {
    -webkit-transform: translatey(-480px);
            transform: translatey(-480px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes ouverture_6 {
  0% {
    -webkit-transform: translatey(-580px);
            transform: translatey(-580px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes ouverture_6 {
  0% {
    -webkit-transform: translatey(-580px);
            transform: translatey(-580px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes ouverture_7 {
  0% {
    -webkit-transform: translatey(-720px);
            transform: translatey(-720px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes ouverture_7 {
  0% {
    -webkit-transform: translatey(-720px);
            transform: translatey(-720px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes ouverture_8 {
  0% {
    -webkit-transform: translatey(-820px);
            transform: translatey(-820px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes ouverture_8 {
  0% {
    -webkit-transform: translatey(-820px);
            transform: translatey(-820px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes ouverture_9 {
  0% {
    -webkit-transform: translatey(-920px);
            transform: translatey(-920px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes ouverture_9 {
  0% {
    -webkit-transform: translatey(-920px);
            transform: translatey(-920px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes ouverturexl {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes ouverturexl {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@-webkit-keyframes ouvertureMenu {
  0% {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@keyframes ouvertureMenu {
  0% {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h3, h3, h4, h3, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: 'roboto';
  src: url("../../public/Fonts/roboto_thin_macroman/Roboto-Thin-webfont.eot");
  src: url("../../public/Fonts/roboto_thin_macroman/Roboto-Thin-webfont.eot?#iefix") format("embedded-opentype"), url("../../public/Fonts/roboto_thin_macroman/Roboto-Thin-webfont.woff2") format("woff2"), url("../../public/Fonts/roboto_thin_macroman/Roboto-Thin-webfont.woff") format("woff"), url("../../public/Fonts/roboto_thin_macroman/Roboto-Thin-webfont.ttf") format("truetype"), url("../../public/Fonts/roboto_thin_macroman/Roboto-Thin-webfont.svg#robotothin") format("svg");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'roboto';
  src: url("../../public/Fonts/roboto_regular_macroman/Roboto-Regular-webfont.eot");
  src: url("../../public/Fonts/roboto_regular_macroman/Roboto-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("../../public/Fonts/roboto_regular_macroman/Roboto-Regular-webfont.woff2") format("woff2"), url("../../public/Fonts/roboto_regular_macroman/Roboto-Regular-webfont.woff") format("woff"), url("../../public/Fonts/roboto_regular_macroman/Roboto-Regular-webfont.ttf") format("truetype"), url("../../public/Fonts/roboto_regular_macroman/Roboto-Regular-webfont.svg#robotothin") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'roboto';
  src: url("../../public/Fonts/roboto_bold_macroman/Roboto-Bold-webfont.eot");
  src: url("../../public/Fonts/roboto_bold_macroman/Roboto-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("../../public/Fonts/roboto_bold_macroman/Roboto-Bold-webfont.woff2") format("woff2"), url("../../public/Fonts/roboto_bold_macroman/Roboto-Bold-webfont.woff") format("woff"), url("../../public/Fonts/roboto_bold_macroman/Roboto-Bold-webfont.ttf") format("truetype"), url("../../public/Fonts/roboto_bold_macroman/Roboto-Bold-webfont.svg#robotothin") format("svg");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Shrikhand';
  src: url("../../public/Fonts/Shrikhand-Regular.otf");
}

body {
  margin: 0;
  padding: 0;
  color: #000;
  font-family: 'roboto', Arial, sans-serif;
  font-size: 1rem;
}

.wrapper {
  min-width: 375px;
  background-color: #fafafa;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 1200px) {
  .wrapper {
    max-width: 1200px;
  }
}

a {
  text-decoration: none;
  color: #000;
}

h1 {
  font-size: 2rem;
}

@media (min-width: 768px) {
  h1 {
    font-size: 4.4rem;
  }
}

@media (min-width: 1200px) {
  h1 {
    font-size: 7.5rem;
  }
}

h3 {
  font-size: 1.2rem;
  margin: 10px;
}

@media (min-width: 768px) {
  h3 {
    font-size: 1.4rem;
    margin: 20px;
  }
}

.barreRecherche {
  background-color: #ebebeb;
}

.barreRecherche form {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: inset 0 1px 5px #cccccc;
          box-shadow: inset 0 1px 5px #cccccc;
  height: 50px;
}

@media (min-width: 768px) {
  .barreRecherche form {
    height: 80px;
  }
}

.barreRecherche form .recherche {
  margin: 0 20% 0 25%;
}

.barreRecherche form label {
  margin: auto 5% auto 30%;
  width: auto;
  text-align: center;
  font-size: 1rem;
}

@media (min-width: 768px) {
  .barreRecherche form label {
    font-size: 2.2rem;
  }
}

@media (min-width: 1200px) {
  .barreRecherche form label {
    margin: auto 5% auto 35%;
  }
}

.barreRecherche form input {
  border: none;
  font-weight: bold;
  color: #4d4d4d;
  width: 90%;
  font-size: 1rem;
  background-color: #ebebeb;
  margin: 15px 0 0px 0;
}

@media (min-width: 768px) {
  .barreRecherche form input {
    font-size: 2.2rem;
  }
}

.btn {
  border-style: none;
  border-radius: 50px;
  -webkit-box-shadow: 5px 5px 10px #b3b3b3;
          box-shadow: 5px 5px 10px #b3b3b3;
  width: 55%;
  background: linear-gradient(170deg, #FF79DA, #9356DC);
  color: #fff;
  font-weight: bold;
  height: 50px;
  margin: 25px 22.5% 50px 22.5%;
}

@media (min-width: 768px) {
  .btn {
    font-size: 1.3rem;
    height: 60px;
    margin: 35px 22.5%;
  }
}

@media (min-width: 1200px) {
  .btn {
    width: 33%;
    margin: 35px 33%;
  }
}

.btn__explo:hover {
  -webkit-transition: .5s;
  transition: .5s;
  background: linear-gradient(170deg, #ff93e1, #a16be0);
  -webkit-box-shadow: 2px 2px 10px #333333;
          box-shadow: 2px 2px 10px #333333;
}

.btn__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50px;
  width: 100%;
  background: #fff;
  -webkit-box-shadow: 5px 5px 10px #e6e6e6;
          box-shadow: 5px 5px 10px #e6e6e6;
  border-radius: 20px;
  margin: 20px auto 0 auto;
  text-align: left;
  padding: 10px 0;
  position: relative;
}

@media (min-width: 768px) {
  .btn__nav {
    height: 60px;
    width: 70%;
    margin: 30px 0% 0 15%;
    -webkit-box-shadow: -5px -5px 10px #e6e6e6, 5px 5px 10px #e6e6e6;
            box-shadow: -5px -5px 10px #e6e6e6, 5px 5px 10px #e6e6e6;
  }
}

@media (min-width: 1200px) {
  .btn__nav {
    width: 100%;
    margin: 0;
  }
}

.btn__nav p {
  margin: auto 7%;
  color: #000;
  font-size: 1rem;
}

@media (min-width: 768px) {
  .btn__nav p {
    font-size: 1.8rem;
  }
}

@media (min-width: 1200px) {
  .btn__nav p {
    font-size: 1.2rem;
  }
}

.btn__nav:hover {
  -webkit-transition: .5s;
  transition: .5s;
  background-color: #ece1f9;
  -webkit-box-shadow: 5px 5px 10px #b3b3b3;
          box-shadow: 5px 5px 10px #b3b3b3;
}

.btn__nav:hover i {
  color: #9356DC;
}

.btn__nav i {
  margin: auto 0 auto 40px;
  color: gray;
  font-size: 1.2rem;
}

@media (min-width: 768px) {
  .btn__nav {
    font-size: 2rem;
  }
}

@media (min-width: 1200px) {
  .btn__nav {
    margin: auto 0 auto 40px;
  }
}

.btn_chiffre {
  position: absolute;
  left: -3%;
  top: 25px;
  background-color: #9356DC;
  color: white;
  font-size: 1rem;
  border-radius: 25px;
  font-weight: 100;
  font-family: sans-serif;
  padding: 3px 7px;
}

@media (min-width: 768px) {
  .btn_chiffre {
    font-size: 1.5rem;
    padding: 5px 10px;
    left: -3.5%;
    top: 25px;
  }
}

@media (min-width: 1200px) {
  .btn_chiffre {
    padding: 5px 9px;
    left: -5%;
    font-size: 1.2rem;
    top: 25px;
  }
}

header {
  background-color: #fff;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

@media (min-width: 768px) {
  header {
    height: 130px;
  }
}

@media (min-width: 1200px) {
  header {
    height: 160px;
  }
}

header .retourMenu {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  position: absolute;
  top: 23px;
  left: 5%;
  font-size: 1.2rem;
}

header .retourMenu a {
  color: #4d4d4d;
}

@media (min-width: 768px) {
  header .retourMenu {
    font-size: 3.5rem;
    top: 35px;
  }
}

@media (min-width: 1200px) {
  header .retourMenu {
    top: 60px;
  }
}

header .logo {
  width: 100%;
  text-align: center;
  margin: 0 25%;
  font-family: 'Shrikhand';
  padding: 20px 0;
}

@media (min-width: 768px) {
  header .logo {
    padding: 30px 0;
  }
}

.fonction {
  position: relative;
  padding: 50px 5% 30px 5%;
  background-color: #fff;
}

@media (min-width: 1200px) {
  .fonction {
    padding: 70px 5%;
  }
}

.fonction .titreNav {
  font-family: sans-serif;
  font-size: 1.4rem;
  font-weight: bold;
}

@media (min-width: 768px) {
  .fonction .titreNav {
    font-size: 1.8rem;
  }
}

@media (min-width: 1200px) {
  .fonction .titreNav {
    margin-bottom: 30px;
  }
}

@media (min-width: 1200px) {
  .fonction .listeNav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.fonction .listeNav li:first-child i {
  font-size: 1.5rem;
  margin: auto 0 auto 42px;
}

@media (min-width: 1200px) {
  .fonction .listeNav li {
    width: 30%;
  }
}

footer .wrapper {
  background-color: #353535;
  color: #fff;
}

footer h3 {
  font-family: 'Shrikhand';
  padding: 40px 5% 20px 5%;
  margin: 0;
}

@media (min-width: 768px) {
  footer h3 {
    font-size: 1.8rem;
    margin-left: 2%;
  }
}

footer ul {
  padding-bottom: 30px;
}

@media (min-width: 768px) {
  footer ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

footer li {
  padding: 8px 5%;
}

@media (min-width: 768px) {
  footer li {
    font-size: 1.2rem;
    padding: 10px 1%;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
  }
}

footer a {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer a i {
  font-size: 0.8rem;
  margin-right: 3%;
}

@media (min-width: 768px) {
  footer a i {
    font-size: 1rem;
    margin: 0;
  }
}

@media (min-width: 1200px) {
  footer a i {
    font-size: 1.3rem;
    margin-right: 8px;
  }
}

@media (min-width: 768px) {
  footer a p {
    font-size: 1.3rem;
    margin-left: 8px;
  }
}

footer a:visited {
  color: #fff;
}

.loadingSpinner {
  padding: 0%;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 2;
  background-color: #99E2D0;
  margin: auto;
  line-height: 500px;
  -webkit-animation: disparition 1 1s linear 3s forwards;
          animation: disparition 1 1s linear 3s forwards;
}

.loadingSpinner .couvertAssiette {
  margin: auto;
  text-align: center;
}

@media (min-width: 992px) {
  .loadingSpinner .couvertAssiette {
    margin-top: 150px;
  }
}

@media (min-width: 1200px) {
  .loadingSpinner .couvertAssiette {
    margin-top: 200px;
  }
}

.loadingSpinner .couvert {
  height: 60px;
}

@media (min-width: 992px) {
  .loadingSpinner .couvert {
    height: 150px;
  }
}

@media (min-width: 1200px) {
  .loadingSpinner .couvert {
    height: 220px;
  }
}

.loadingSpinner .loader-quart {
  width: 50px;
  height: 50px;
  display: inline-block;
  border-radius: 50px;
  border: 6px solid #fface8;
  position: relative;
}

@media (min-width: 992px) {
  .loadingSpinner .loader-quart {
    width: 150px;
    height: 150px;
    border-radius: 150px;
  }
}

@media (min-width: 1200px) {
  .loadingSpinner .loader-quart {
    width: 200px;
    height: 200px;
    border-radius: 200px;
  }
}

.loadingSpinner .loader-quart::after {
  content: "";
  position: absolute;
  top: -6px;
  left: -6px;
  right: -6px;
  bottom: -6px;
  border-radius: 50px;
  border: 6px solid transparent;
  border-top-color: #FF79DA;
  border-bottom-color: #FF79DA;
  -webkit-animation: spin .5s infinite ease;
          animation: spin .5s infinite ease;
}

@media (min-width: 992px) {
  .loadingSpinner .loader-quart::after {
    border-radius: 150px;
  }
}

@media (min-width: 1200px) {
  .loadingSpinner .loader-quart::after {
    border-radius: 200px;
  }
}

.indexRetour {
  display: none;
}

.text_acc1 {
  margin: 40px 15% 20px 15%;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  font-family: 'roboto';
}

@media (min-width: 768px) {
  .text_acc1 {
    font-size: 2rem;
    margin: 40px 10%;
  }
}

.com_search {
  margin: 0 10%;
  text-align: center;
  color: gray;
  font-weight: 100;
}

@media (min-width: 768px) {
  .com_search {
    font-size: 1.2rem;
  }
}

section {
  margin: 50px auto 0 auto;
  padding: 4%;
}

section h2 {
  font-size: 1.4rem;
  font-weight: bold;
  margin-bottom: 25px;
  font-family: 'roboto';
}

@media (min-width: 768px) {
  section h2 {
    font-size: 1.8rem;
  }
}

@media (min-width: 1200px) {
  section h2 {
    margin-bottom: 50px;
  }
}

@media (min-width: 1200px) {
  .restoLigne {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.index_carte1 {
  width: 100%;
  height: 250px;
  position: relative;
  margin-bottom: 20px;
  background-color: #fff;
  border-radius: 25px;
  -webkit-box-shadow: 5px 5px 10px #e6e6e6;
          box-shadow: 5px 5px 10px #e6e6e6;
}

@media (min-width: 768px) {
  .index_carte1 {
    height: 350px;
  }
}

@media (min-width: 992px) {
  .index_carte1 {
    height: 400px;
  }
}

@media (min-width: 1200px) {
  .index_carte1 {
    width: 45%;
    margin-right: 0;
    margin-bottom: 40px;
  }
}

.index_carte1 img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  width: 100%;
  height: 170px;
  border-radius: 25px 25px 0 0;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .index_carte1 img {
    height: 250px;
  }
}

@media (min-width: 992px) {
  .index_carte1 img {
    height: 300px;
  }
}

.index_carte1 .lieu {
  margin: 0 10px;
  font-weight: 100;
}

@media (min-width: 768px) {
  .index_carte1 .lieu {
    font-size: 1.2rem;
    margin: 0 20px;
  }
}

.index_carte1 .like {
  display: none;
}

.index_carte1 #like1:checked + .heart__Empty {
  z-index: 0;
}

.index_carte1 #like1:checked + .heart__Empty + .heart__Full {
  -webkit-animation: likeAnime 2s;
          animation: likeAnime 2s;
}

.index_carte1 #like2:checked + .heart__Empty {
  z-index: 0;
}

.index_carte1 #like2:checked + .heart__Empty + .heart__Full {
  -webkit-animation: likeAnime 2s;
          animation: likeAnime 2s;
}

.index_carte1 #like3:checked + .heart__Empty {
  z-index: 0;
}

.index_carte1 #like3:checked + .heart__Empty + .heart__Full {
  -webkit-animation: likeAnime 2s;
          animation: likeAnime 2s;
}

.index_carte1 #like4:checked + .heart__Empty {
  z-index: 0;
}

.index_carte1 #like4:checked + .heart__Empty + .heart__Full {
  -webkit-animation: likeAnime 2s forwards;
          animation: likeAnime 2s forwards;
}

.index_carte1 .heart {
  cursor: pointer;
  font-size: 1.4rem;
  position: absolute;
  left: 85%;
  top: 200px;
}

@media (min-width: 768px) {
  .index_carte1 .heart {
    top: 280px;
    font-size: 2.5rem;
  }
}

@media (min-width: 992px) {
  .index_carte1 .heart {
    top: 335px;
  }
}

.index_carte1 .heart__Full {
  color: transparent;
  background: linear-gradient(160deg, #ff93e1, #a16be0);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.index_carte1 .heart__Empty {
  color: #7E7E7E;
  background-color: #fff;
  z-index: 1;
}

.index_carte1 .heart__Empty:hover {
  opacity: 0.3;
}

.index_carte1 .new {
  background-color: #99E2D0;
  color: #278870;
  padding: 6px 3%;
  font-size: 0.9rem;
  position: absolute;
  top: 20px;
  left: 75%;
  -webkit-animation: newResto 3s infinite;
          animation: newResto 3s infinite;
}

@media (min-width: 768px) {
  .index_carte1 .new {
    left: 81%;
    padding: 2%;
  }
}

@media (min-width: 992px) {
  .index_carte1 .new {
    left: 86%;
  }
}

@media (min-width: 1200px) {
  .index_carte1 .new {
    left: 80%;
  }
}

.photoResto {
  position: relative;
  height: 240px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  width: 100%;
}

@media (min-width: 768px) {
  .photoResto {
    height: 300px;
  }
}

@media (min-width: 1200px) {
  .photoResto {
    border-radius: 25px 25px 0 0;
  }
}

.carteResto {
  position: relative;
  background: #f2f2f2;
  top: -35px;
  padding: 0 3% 20px 3%;
  margin-bottom: -35px;
  border-radius: 25px 25px 0 0;
}

@media (min-width: 768px) {
  .carteResto {
    top: -45px;
  }
}

@media (min-width: 1200px) {
  .carteResto {
    top: -25px;
    border-radius: 0 0 0 0;
  }
}

.carteResto .titreResto {
  font-family: 'Shrikhand';
  font-size: 1.8rem;
  padding: 40px 0 20px 0;
}

@media (min-width: 768px) {
  .carteResto .titreResto {
    font-size: 3rem;
    padding: 60px 0 0 0;
  }
}

@media (min-width: 1200px) {
  .carteResto .titreResto {
    font-size: 3rem;
  }
}

.carteResto .like {
  display: none;
}

.carteResto #like1:checked + .heart__Empty {
  z-index: 0;
}

.carteResto #like1:checked + .heart__Empty + .heart__Full {
  -webkit-animation: likeAnime 2s forwards;
          animation: likeAnime 2s forwards;
}

.carteResto .heart {
  cursor: pointer;
  font-size: 1.4rem;
  position: absolute;
  left: 85%;
  top: 40px;
}

@media (min-width: 768px) {
  .carteResto .heart {
    top: 50px;
    font-size: 3.5rem;
  }
}

@media (min-width: 1200px) {
  .carteResto .heart {
    font-size: 3rem;
    left: 90%;
  }
}

.carteResto .heart__Full {
  color: transparent;
  background: linear-gradient(160deg, #ff93e1, #a16be0);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.carteResto .heart__Empty {
  color: #7E7E7E;
  background-color: #f2f2f2;
  z-index: 1;
}

.carteResto .heart__Empty:hover {
  opacity: 0.3;
}

.menuResto {
  color: #7E7E7E;
}

.menuResto__titre {
  margin-bottom: 20px;
  margin: 40px 0 10px 0;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .menuResto__titre {
    font-size: 1.5rem;
  }
}

.menuResto__titre::after {
  content: "";
  display: block;
  border-bottom: 3px solid #99E2D0;
  width: 12%;
  position: relative;
  bottom: -2px;
}

@media (min-width: 768px) {
  .menuResto__titre::after {
    width: 9%;
  }
}

@media (min-width: 1200px) {
  .menuResto__titre::after {
    width: 45px;
  }
}

.menuResto .vignette_plat {
  position: relative;
  display: block;
}

@media (min-width: 1200px) {
  .menuResto .vignette_plat {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
}

.menuResto__plat {
  z-index: 1;
  position: relative;
  display: block;
  height: 55px;
  margin-bottom: 10px;
  background: #fff;
  padding: 10px 3%;
  border-radius: 15px;
  -webkit-box-shadow: 5px 5px 10px #e6e6e6;
          box-shadow: 5px 5px 10px #e6e6e6;
}

@media (min-width: 768px) {
  .menuResto__plat {
    height: 70px;
  }
}

.menuResto .plat__nom, .menuResto .plat__prix {
  font-weight: bold;
  color: #000;
}

.menuResto .plat__nom, .menuResto .plat__info {
  display: block;
  padding: 5px 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (min-width: 768px) {
  .menuResto .plat__nom, .menuResto .plat__info {
    font-size: 1.5rem;
  }
}

.menuResto .plat__prix {
  display: block;
  float: right;
  padding-top: 8px;
}

@media (min-width: 768px) {
  .menuResto .plat__prix {
    font-size: 1.5rem;
  }
}

.menuResto .valid__plat {
  background: #99E2D0;
}

.menuResto .fondVert {
  position: absolute;
  height: 74px;
  width: 100%;
  border-radius: 15px;
  overflow: hidden;
  background: #99E2D0;
  left: 0;
  top: 0;
}

@media (min-width: 768px) {
  .menuResto .fondVert {
    height: 90px;
  }
}

@media (min-width: 1200px) {
  .menuResto .fondVert {
    background: #f2f2f2;
    margin-left: 120px;
  }
}

.menuResto .fondVert i {
  position: absolute;
  font-size: 1.5rem;
  left: 87%;
  top: 25px;
  color: #fff;
}

@media (min-width: 768px) {
  .menuResto .fondVert i {
    font-size: 3rem;
    margin-left: 2%;
    left: 90%;
  }
}

@media (min-width: 992px) {
  .menuResto .fondVert i {
    top: 20px;
    font-size: 3.5rem;
  }
}

@media (min-width: 1200px) {
  .menuResto .fondVert i {
    color: #99E2D0;
    left: 80%;
    top: 30px;
    font-size: 2rem;
    opacity: 0;
  }
}

.menuResto #entreeSelectionne1:checked + .marginCheck .menuResto__plat, .menuResto #entreeSelectionne2:checked + .marginCheck .menuResto__plat, .menuResto #entreeSelectionne3:checked + .marginCheck .menuResto__plat, .menuResto #entreeSelectionne4:checked + .marginCheck .menuResto__plat, .menuResto #platSelectionne1:checked + .marginCheck .menuResto__plat,
.menuResto #platSelectionne2:checked + .marginCheck .menuResto__plat, .menuResto #platSelectionne3:checked + .marginCheck .menuResto__plat, .menuResto #dessertSelectionne1:checked + .marginCheck .menuResto__plat, .menuResto #dessertSelectionne2:checked + .marginCheck .menuResto__plat, .menuResto #dessertSelectionne3:checked + .marginCheck .menuResto__plat {
  -webkit-animation: prixAnim 1 linear .3s forwards;
          animation: prixAnim 1 linear .3s forwards;
  -webkit-box-shadow: none;
          box-shadow: none;
}

@media (min-width: 768px) {
  .menuResto #entreeSelectionne1:checked + .marginCheck .menuResto__plat, .menuResto #entreeSelectionne2:checked + .marginCheck .menuResto__plat, .menuResto #entreeSelectionne3:checked + .marginCheck .menuResto__plat, .menuResto #entreeSelectionne4:checked + .marginCheck .menuResto__plat, .menuResto #platSelectionne1:checked + .marginCheck .menuResto__plat,
  .menuResto #platSelectionne2:checked + .marginCheck .menuResto__plat, .menuResto #platSelectionne3:checked + .marginCheck .menuResto__plat, .menuResto #dessertSelectionne1:checked + .marginCheck .menuResto__plat, .menuResto #dessertSelectionne2:checked + .marginCheck .menuResto__plat, .menuResto #dessertSelectionne3:checked + .marginCheck .menuResto__plat {
    -webkit-animation: prixAnim-md 1 linear .3s forwards;
            animation: prixAnim-md 1 linear .3s forwards;
  }
}

@media (min-width: 1200px) {
  .menuResto #entreeSelectionne1:checked + .marginCheck .menuResto__plat, .menuResto #entreeSelectionne2:checked + .marginCheck .menuResto__plat, .menuResto #entreeSelectionne3:checked + .marginCheck .menuResto__plat, .menuResto #entreeSelectionne4:checked + .marginCheck .menuResto__plat, .menuResto #platSelectionne1:checked + .marginCheck .menuResto__plat,
  .menuResto #platSelectionne2:checked + .marginCheck .menuResto__plat, .menuResto #platSelectionne3:checked + .marginCheck .menuResto__plat, .menuResto #dessertSelectionne1:checked + .marginCheck .menuResto__plat, .menuResto #dessertSelectionne2:checked + .marginCheck .menuResto__plat, .menuResto #dessertSelectionne3:checked + .marginCheck .menuResto__plat {
    -webkit-animation: none;
            animation: none;
    -webkit-box-shadow: 5px 5px 10px #e6e6e6;
            box-shadow: 5px 5px 10px #e6e6e6;
  }
}

.menuResto #entreeSelectionne1:checked + .marginCheck .fondVert i, .menuResto #entreeSelectionne2:checked + .marginCheck .fondVert i, .menuResto #entreeSelectionne3:checked + .marginCheck .fondVert i, .menuResto #entreeSelectionne4:checked + .marginCheck .fondVert i, .menuResto #platSelectionne1:checked + .marginCheck .fondVert i,
.menuResto #platSelectionne2:checked + .marginCheck .fondVert i, .menuResto #platSelectionne3:checked + .marginCheck .fondVert i, .menuResto #dessertSelectionne1:checked + .marginCheck .fondVert i, .menuResto #dessertSelectionne2:checked + .marginCheck .fondVert i, .menuResto #dessertSelectionne3:checked + .marginCheck .fondVert i {
  -webkit-animation: deplaceCheck 1 linear .3s forwards;
          animation: deplaceCheck 1 linear .3s forwards;
}

@media (min-width: 1200px) {
  .menuResto #entreeSelectionne1:checked + .marginCheck .fondVert i, .menuResto #entreeSelectionne2:checked + .marginCheck .fondVert i, .menuResto #entreeSelectionne3:checked + .marginCheck .fondVert i, .menuResto #entreeSelectionne4:checked + .marginCheck .fondVert i, .menuResto #platSelectionne1:checked + .marginCheck .fondVert i,
  .menuResto #platSelectionne2:checked + .marginCheck .fondVert i, .menuResto #platSelectionne3:checked + .marginCheck .fondVert i, .menuResto #dessertSelectionne1:checked + .marginCheck .fondVert i, .menuResto #dessertSelectionne2:checked + .marginCheck .fondVert i, .menuResto #dessertSelectionne3:checked + .marginCheck .fondVert i {
    -webkit-animation: prixAnim-xl 1 linear .3s forwards;
            animation: prixAnim-xl 1 linear .3s forwards;
  }
}

.ouverture_1 {
  -webkit-animation: ouverture_1 3s;
          animation: ouverture_1 3s;
}

.ouverture_2 {
  -webkit-animation: ouverture_2 3s;
          animation: ouverture_2 3s;
}

.ouverture_3 {
  -webkit-animation: ouverture_3 3s;
          animation: ouverture_3 3s;
}

.ouverture_3_2 {
  -webkit-animation: ouverture_3_2 3s;
          animation: ouverture_3_2 3s;
}

.ouverture_4 {
  -webkit-animation: ouverture_4 3s;
          animation: ouverture_4 3s;
}

.ouverture_5 {
  -webkit-animation: ouverture_5 3s;
          animation: ouverture_5 3s;
}

.ouverture_6 {
  -webkit-animation: ouverture_6 3s;
          animation: ouverture_6 3s;
}

.ouverture_7 {
  -webkit-animation: ouverture_7 3s;
          animation: ouverture_7 3s;
}

.ouverture_8 {
  -webkit-animation: ouverture_8 3s;
          animation: ouverture_8 3s;
}

.ouverture_9 {
  -webkit-animation: ouverture_9 3s;
          animation: ouverture_9 3s;
}

@media (min-width: 1200px) {
  .ouverture_1, .ouverture_2, .ouverture_3, .ouverture_3_2, .ouverture_4, .ouverture_5, .ouverture_6, .ouverture_7, .ouverture_8, .ouverture_9 {
    -webkit-animation: ouverturexl 2.5s ease-in-out;
            animation: ouverturexl 2.5s ease-in-out;
  }
}

@media (min-width: 1200px) {
  .menuResto__titre {
    -webkit-animation: ouvertureMenu 2.5s ease-in-out;
            animation: ouvertureMenu 2.5s ease-in-out;
  }
}
/*# sourceMappingURL=style.css.map */