body{
    margin: 0;
    padding: 0;
    color: $color-font-txt;
    font-family: 'robotothin', Arial, sans-serif;
    font-size: 1rem;
}

.wrapper{
    min-width: 375px;
    background-color: darken($color-back, 5%);
    margin-left: auto;
    margin-right: auto;
    @include xl{
        max-width: 1200px;
    }
}

a{
    text-decoration: none;
    color: $color-font-txt;
}

h1{
    font-size: 2.4rem;
    @include md{
        font-size: 4.4rem;
    }
    @include xl{
        font-size: 7.5rem;
    }
}

h5{
    font-size: 1.2rem;
    font-weight: bold;
    margin: 10px;
    @include md{
        font-size: 1.4rem;
        margin: 20px;
    }
}

