.loadingSpinner{
    padding: 0%;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 2;
    background-color: $color-ter;
    margin: auto;
    line-height: 500px;    
    animation: disparition 1 1s linear 3s forwards; 
    .couvertAssiette{
        margin: auto;
        text-align: center;
        @include lg{
            margin-top: 150px;
        }
        @include xl{
            margin-top: 200px;
        }
    }
    .couvert{
        height: 60px;
        @include lg{
            height: 150px;
        }
        @include xl{
            height: 220px;
        }
    }
    .loader-quart{
        width: 50px;
        height: 50px;
        display: inline-block;
        border-radius: 50px;
        border: 6px solid lighten($color: $color-sec, $amount: 10%);
        position: relative;
        @include lg{
            width: 150px;
            height: 150px;
            border-radius: 150px;
        }
        @include xl{
            width: 200px;
            height: 200px;
            border-radius: 200px;
        }
        &::after{
            content: "";
            position: absolute;
            top: -6px;
            left: -6px;
            right: -6px;
            bottom: -6px;
            border-radius: 50px;
            border: 6px solid transparent;
            border-top-color: $color-sec;
            border-bottom-color: $color-sec;
            animation: spin .5s infinite ease ;
            @include lg{
                border-radius: 150px;
            }
            @include xl{
                border-radius: 200px;
            }
        
        }
    }
}

.indexRetour{
        display: none;
}

.text_acc1{
    margin: 40px 15% 20px 15%;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    font-family: 'roboto';
    @include md{
        font-size: 2rem;
        margin: 40px 10%;
    }
}

.com_search{
    margin: 0 10%;
    text-align: center;
    color: lighten($color-font-txt, 50%);
    font-weight: 100;
    @include md{
        font-size: 1.2rem;
    }

}

section{
    margin: 50px auto 0 auto;
    padding: 4%;
    h2{
        font-size: 1.4rem;
        font-weight: bold;
        margin-bottom: 25px;
        font-family: 'roboto';
        @include md{
            font-size: 1.8rem;
        }
        @include xl{
            margin-bottom: 50px;
        }
    }
}

.restoLigne{
    @include xl{
        display: flex;
        justify-content: space-around;
    }
}

.index_carte1{
    width: 100%;
    height: 250px;
    position: relative;
    margin-bottom: 20px;
    background-color: $color-back;
    border-radius: 25px;
    box-shadow: 5px 5px 10px darken($color-back,10%);
    @include md{
        height: 350px;
    }
    @include lg{
        height: 400px;
    }
    @include xl{
        width: 45%;
        margin-right: 0;
        margin-bottom: 40px;
    }
    img{
        object-fit: cover;
        object-position: center;
        width: 100%;
        height: 170px;
        border-radius: 25px 25px 0 0;
        margin: 0 auto;
        @include md{
            height: 250px;
        }
        @include lg{
            height: 300px;
        }
    }
    .lieu{
        margin: 0 10px;
        font-weight: 100;
        @include md{
            font-size: 1.2rem;
            margin: 0 20px;
        }
    }
    .like{
        display: none;
    }
    #like1{
        &:checked + .heart__Empty{
            z-index: 0;
            & + .heart__Full{
                animation: likeAnime 2s;
            }
        }
    }
    #like2{
        &:checked + .heart__Empty{
            z-index: 0;
            & + .heart__Full{
                animation: likeAnime 2s;
            }
        }
    }
    #like3{
        &:checked + .heart__Empty{
            z-index: 0;
            & + .heart__Full{
                animation: likeAnime 2s;
            }
        }
    }
    #like4{
        &:checked + .heart__Empty{
            z-index: 0;
            & + .heart__Full{
                animation: likeAnime 2s forwards;
            }
        }
    }
    .heart{
        cursor: pointer;
        font-size: 1.4rem;
        position: absolute;
        left: 85%;       
        top: 200px;
        @include md{
            top: 280px;
            font-size: 2.5rem;
        }
        @include lg{
            top: 335px;
        }
        &__Full{
            color: transparent;
            background: linear-gradient(160deg, lighten($color-sec, 5%), lighten($color-prim, 5%));
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        &__Empty{
            color: $color-font-com;
            background-color: $color-back;
            z-index: 1;
            &:hover{
               opacity: 0.3;
            }
        }
    }
    .new{
        background-color: $color-ter;
        color: darken($color-ter, 40%);
        padding: 6px 3%;
        font-size: 0.9rem;
        position: absolute;
        top: 20px;
        left: 75%;
        animation: newResto 3s infinite;
        @include md{
            left: 81%;
            padding: 2%;
        }
        @include lg{
            left: 86%;
        }
        @include xl{
            left: 80%;
        }
    }
}