.photoResto{
    object-fit: cover;
    object-position: center;
    width: 100%;
}
.carteResto{
    position: relative;
    padding: 0 3% 20px 3%;
    border-radius: 25px 25px 0 0;
    & .titreResto{
        font-family: 'Shrikhand';
        font-size: 1.4rem;
        padding: 20px 0;
    }
    & .like{
        position: absolute;
        top: 200px;
        left: -10000%;
    }
    & #like1{
        &:checked + .heart__Empty{
            z-index: 0;
            & + .heart__Full{
                animation: likeAnime 2s;
            }
        }
    }
    & .heart{
        cursor: pointer;
        font-size: 1.4rem;
        position: absolute;
        left: 85%;       
        top: 18px;
        &__Full{
            color: $color-prim;
        }
        &__Empty{
            color: $color-font-com;
            background-color: darken($color-back, 5%);
            z-index: 1;
            &:hover{
               opacity: 0.3;
            }
        }
    }

}

.menuResto{
    color: $color-font-com;
    &__titre{
        border-bottom: 3px solid darken($color-back, 5%);
        margin-bottom: 20px;
        margin: 40px 0 10px 0;
        text-transform: uppercase;
        &::after{
            content: "";
            display: block;
            border-bottom: 3px solid $color-ter;
            width: 12%;
            position: relative;
            bottom: -2px;
        }
    }
    &__plat{
        position: relative;
        margin-bottom: 10px;
        background: $color-back;
        padding: 10px 3%;
        border-radius: 15px;
        box-shadow: 5px 5px 10px darken($color-back,10%);
        &:hover, &:active{
            animation: prixAnim 1 linear 1s;
            animation-fill-mode: forwards;
        }
    }
    & .plat__nom, .plat__prix{
        font-weight: bold;
        color: $color-font-txt;
    }
    & .plat__nom, .plat__info{
        padding: 5px 0;
    }
    & .plat__prix{
        float: right;
        padding-top: 8px;
    }
    & .valid__plat{
        background: $color-ter;
    }
}
@keyframes prixAnim{
    0%{
        margin-right: 0;
        border-radius: 15px;
    }
    100%{
        margin-right: 20%;
        border-radius: 15px 0 0 15px;
    }
}
