.photoResto{
    position: relative;
    height: 240px;
    object-fit: cover;
    object-position: center;
    width: 100%;    
    @include md{
        height: 300px;
    }
    @include xl{
        border-radius: 25px 25px 0 0;
    }
}

.carteResto{
    position: relative;
    background: darken($color-back, 5%);
    top: -45px;
    padding: 0 3% 20px 3%;
    margin-bottom: -65px;
    border-radius: 25px 25px 0 0;
    @include xl{
        top: -25px;
        border-radius: 0 0 0 0;
    }
    .titreResto{
        font-family: 'Shrikhand';
        font-size: 1.8rem;
        padding: 40px 0 20px 0;
        @include md{
            font-size: 3rem;
            padding: 60px 0 0 0;
        }
        @include xl{
            font-size: 3rem;
        }
    }
    .like{
        display: none;
    }
    #like1{
        @include md{
            &:checked + .heart__Empty{
                z-index: 0;
                & + .heart__Full{
                    animation: likeAnime 2s forwards;
                }
            }
        }
    }
    .heart{
        cursor: pointer;
        font-size: 1.4rem;
        position: absolute;
        left: 85%;       
        top: 40px;
         width: 24px;
        @include md{
            top: 50px;
            font-size: 3.5rem;
            width: 58px;
        }
        @include xl{
            font-size: 3rem;
            left: 90%;
        }
        &__Full{
            color: transparent;
            background: linear-gradient(160deg, lighten($color-sec, 5%), lighten($color-prim, 5%));
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        &__Empty{
            color: $color-font-com;
            background-color: darken($color-back, 5%);
            z-index: 1;
            &:hover{
                opacity: 0;
                transition-duration: 1.5s;
            }
        }
    }
}

.menuResto{
    color: $color-font-com;
    &__titre{
        margin-bottom: 20px;
        margin: 40px 0 10px 0;
        text-transform: uppercase;
        @include md{
            font-size: 1.5rem;
        }
        &::after{
            content: "";
            display: block;
            border-bottom: 3px solid $color-ter;
            width: 12%;
            position: relative;
            bottom: -2px;
            @include md{
                width: 9%;
            }
            @include xl{
                width: 45px;
            }
        }
    }
    .vignette_plat{
        position: relative;
        display: block;
        @include xl{
            width: 50%;
            margin-left: auto;
            margin-right: auto;        
        }
    }
    &__plat{
        z-index: 1;
        position: relative;
        display: block;
        height: 55px;
        margin-bottom: 10px;
        background: $color-back;
        padding: 10px 3%;
        border-radius: 15px;
        box-shadow: 5px 5px 10px darken($color-back,10%);
        @include md{
            height: 70px;
        }
    }
    .plat__nom, .plat__prix{
        font-weight: bold;
        color: $color-font-txt;
    }
    .plat__nom, .plat__info{
        display: block;
        padding: 5px 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        @include md{
            font-size: 1.5rem;
        }
    }
    .plat__prix{
        display: block;
        float: right;
        padding-top: 8px;
        @include md{
            font-size: 1.5rem;
        }
    }
    .valid__plat{
        background: $color-ter;
    }
    .fondVert{
        position: absolute;
        height: 74px;
        width: 100%;
        border-radius: 15px;
        overflow: hidden;
        background: #99E2D0;
        left: 0;
        top: 0;
        @include md{
             height: 90px;
        }
        @include xl{
            background: darken($color-back, 5%);
            margin-left: 120px;
        }
        i{
            position: absolute;
            font-size: 1.5rem;
            left: 87%;
            top: 25px;
            color: $color-back;
            @include md{
                font-size: 3rem;
                margin-left: 2%;
                left: 90%;
            }
            @include lg{
                top: 20px;
                font-size: 3.5rem;
            }
            @include xl{
                color: $color-ter;
                left: 80%;
                top: 30px;
                font-size: 2rem;
                opacity: 0;
            }
        }
    }
    #entreeSelectionne1, #entreeSelectionne2, #entreeSelectionne3, #entreeSelectionne4,#platSelectionne1,
    #platSelectionne2, #platSelectionne3, #dessertSelectionne1, #dessertSelectionne2, #dessertSelectionne3{
        &:checked + .marginCheck {
            .menuResto__plat{
                animation: prixAnim 1 linear .3s forwards;
                box-shadow: none;
                @include md{
                    animation: prixAnim-md 1 linear .3s forwards;
                }
                @include xl{
                    animation: none;
                    box-shadow: 5px 5px 10px darken($color-back,10%);
                }
            }
            .fondVert i{
                animation: deplaceCheck 1 linear .3s forwards;
                @include xl{
                    animation: prixAnim-xl 1 linear .3s forwards;

                }
            }
        }
    }
}

.ouverture_1{
    animation: ouverture_1 3s;
}
.ouverture_2{
    animation: ouverture_2 3s;
}
.ouverture_3{
    animation: ouverture_3 3s;
}
.ouverture_3_2{
    animation: ouverture_3_2 3s;
}
.ouverture_4{
    animation: ouverture_4 3s;
}
.ouverture_5{
    animation: ouverture_5 3s;
}
.ouverture_6{
    animation: ouverture_6 3s;
}
.ouverture_7{
    animation: ouverture_7 3s;
}
.ouverture_8{
    animation: ouverture_8 3s;
}
.ouverture_9{
    animation: ouverture_9 3s;
}

.ouverture_1, .ouverture_2, .ouverture_3, .ouverture_3_2, .ouverture_4, .ouverture_5, .ouverture_6, .ouverture_7, .ouverture_8, .ouverture_9{
    @include xl{
        animation: ouverturexl 2.5s ease-in-out ;
    }
}

.menuResto__titre{
    @include xl{
        animation: ouvertureMenu 2.5s ease-in-out;
    }
}

