.photoResto{
    object-fit: cover;
    object-position: center;
    width: 100%;
}
.carteResto{
    position: relative;
    padding: 0 3% 20px 3%;
    border-radius: 25px 25px 0 0;
    & .titreResto{
        font-family: 'Shrikhand';
        font-size: 1.4rem;
        padding: 20px 0;
    }
    & .like{
        display: none;
    }
    & #like1{
        &:checked + .heart__Empty{
            z-index: 0;
            & + .heart__Full{
                animation: likeAnime 2s;
            }
        }
    }
    & .heart{
        cursor: pointer;
        font-size: 1.4rem;
        position: absolute;
        left: 85%;       
        top: 18px;
        &__Full{
            color: $color-prim;
        }
        &__Empty{
            color: $color-font-com;
            background-color: darken($color-back, 5%);
            z-index: 1;
            &:hover{
               opacity: 0.3;
            }
        }
    }

}

.menuResto{
    color: $color-font-com;
    &__titre{
        border-bottom: 3px solid darken($color-back, 5%);
        margin-bottom: 20px;
        margin: 40px 0 10px 0;
        text-transform: uppercase;
        &::after{
            content: "";
            display: block;
            border-bottom: 3px solid $color-ter;
            width: 12%;
            position: relative;
            bottom: -2px;
        }
    }
    &__plat{
        z-index: 1;
        position: relative;
        height: 55px;
        margin-bottom: 10px;
        background: $color-back;
        padding: 10px 3%;
        border-radius: 15px;
        box-shadow: 5px 5px 10px darken($color-back,10%);
    }
    & .plat__nom, .plat__prix{
        font-weight: bold;
        color: $color-font-txt;
    }
    & .plat__nom, .plat__info{
        padding: 5px 0;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    & .plat__prix{
        float: right;
        padding-top: 8px;
    }
    & .valid__plat{
        background: $color-ter;
    }
    & .fondVert{
        position: absolute;
        z-index: 0;
        height: 74px;
        width: 94%;
        margin: 0 3%;
        border-radius: 15px;
        overflow: hidden;
        background: #99E2D0;
        left: 0;
        & i{
            position: absolute;
            font-size: 1.5rem;
            left: 87%;
            top: 25px;
            color: $color-back;
        }
        &--1{
            top: 135px;
        }
        &--2{
            top: 220px;
        }
        &--3{
            top: 305px;
        }
        &--4{
            top: 452px;
        }
        &--5{
            top: 537px;
        }
        &--6{
            top: 622px;
        }
        &--7{
            top: 769px;
        }
        &--8{
            top: 854px;

        }
        &--9{
            top: 939px;
        }
    }
    
    & #entreeSelectionne1, #entreeSelectionne2, #entreeSelectionne3, #platSelectionne1,
    #platSelectionne2, #platSelectionne3, #dessertSelectionne1, #dessertSelectionne2, #dessertSelectionne3{
        &:checked + .marginCheck{
            & .menuResto__plat, &:hover + .marginCheck{
                animation: prixAnim 1 linear .3s forwards;
                box-shadow: none;
                }
            & .fondVert i{
                animation: deplaceCheck 1 linear .3s forwards;
            }
        }
    }
    
}
@keyframes prixAnim{
    0%{
        margin-right: 0;
        border-radius: 15px;
    }
    100%{
        margin-right: 20%;
        border-radius: 15px 0 0 15px;
    }
}

@keyframes deplaceCheck{
    0%{
        left: 100%;
        transform: rotate(0deg);
    }
    100%{
        left: 87%;
        transform: rotate(360deg);
    }
}