$color-prim: #9356DC;
$color-sec: #FF79DA;
$color-ter: #99E2D0;
$color-back: #fff;
$color-font-txt: #000;
$color-font-com: #7E7E7E;
$color-font-foot: #fff;
$color-footer: #353535;

$screen-sm: 375px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;